In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
cities_df = pd.read_csv('Output/weather_data.csv').reset_index(drop=True)
cities_df.head()

cities_df.columns

cleaned_cities = cities_df.drop(['Unnamed: 0'], axis=1)
cleaned_cities.head()

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
0,Margate,GB,51.38,1.39,47.66,70,3,7.00
1,Butaritari,KI,3.07,172.79,83.55,80,99,16.55
2,Villa de Reyes,MX,21.80,-100.93,73.40,23,20,5.82
3,Sturgeon Bay,US,44.83,-87.38,45.41,93,90,9.06
4,Jamestown,US,42.10,-79.24,40.21,64,1,10.29

In [3]:
gmaps.configure(api_key=g_key)

In [4]:

locations = cleaned_cities[["Latitude", "Longitude"]].astype(float)
humidity_rate = cleaned_cities["Humidity (%)"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, dissipating=False, max_intensity=250, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
ideal_cities = cleaned_cities.loc[(cleaned_cities["Temperature (F)"] < 70) & (cleaned_cities["Temperature (F)"] > 50) & (cleaned_cities["Wind Speed (MPH)"] < 5) & (cleaned_cities["Cloudiness (%)"] > 50)]
ideal_cities_final = ideal_cities.reset_index()
ideal_cities_final.head()

,index,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
0,6,New Norfolk,AU,-42.78,147.06,53.83,73,89,1.66
1,15,Nara,JP,34.69,135.80,65.50,55,75,2.24
2,24,Kalinovskaya,RU,43.58,45.52,59.00,62,88,4.47
3,31,Lebu,CL,-37.62,-73.65,53.10,90,90,2.62
4,41,Bredasdorp,ZA,-34.53,20.04,60.80,59,93,3.36

In [6]:

hotel_df = ideal_cities_final.copy()
hotel_df['Hotel Name'] = ''

In [7]:
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        print("fetching data for {lat},{lan}")
    except (KeyError, IndexError):
        print("No data....")

fetching data for {lat},{lan}
fetching data for {lat},{lan}
No data....
fetching data for {lat},{lan}
fetching data for {lat},{lan}
No data....
fetching data for {lat},{lan}
fetching data for {lat},{lan}
No data....
No data....
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
No data....
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
No data....
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
No data....
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}
No data....
fetching data for {lat},{lan}
fetching data for {lat},{lan}
fetching data for {lat},{lan}

In [8]:
hotel_df.head()
cleaned_hotel_df = hotel_df.reset_index(drop=True)
cleaned_hotel_df.drop(['index'], axis=1)

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Hotel Name
0,New Norfolk,AU,-42.78,147.06,53.83,73,89,1.66,Tynwald Willow Bend Estate
1,Nara,JP,34.69,135.80,65.50,55,75,2.24,Super Hotel Lohas JR Nara Eki
2,Kalinovskaya,RU,43.58,45.52,59.00,62,88,4.47,
3,Lebu,CL,-37.62,-73.65,53.10,90,90,2.62,Hotel Plaza Lebu
4,Bredasdorp,ZA,-34.53,20.04,60.80,59,93,3.36,Bredasdorp Country Manor
5,Kaitangata,NZ,-46.28,169.85,51.35,60,64,3.00,
6,Ubrique,ES,36.68,-5.45,54.54,93,100,4.70,Posada El Parral
7,Guiratinga,BR,-16.35,-53.76,68.23,84,99,2.06,Ópera Palace Hotel
8,Menongue,AO,-14.66,17.69,64.13,59,96,4.00,
9,Miraflores,MX,19.22,-98.81,68.00,45,75,3.36,
10,Mata Grande,BR,-9.12,-37.73,67.66,85,98,3.36,Hotel Casarão
11,Riesi,IT,37.28,14.08,64.00,74,75,3.00,Tenuta Palladio
12,Bana,CM,5.15,10.28,63.72,73,98,1.97,Hôtel La Vallée de Bana
13,Coquimbo,CL,-29.95,-71.34,53.60,100,90,3.36,Apart Hotel La Fuente
14,San Cristobal,VE,7.77,-72.22,67.14,63,83,0.45,
15,Nanyuki,KE,0.02,37.07,63.66,46,100,4.25,Maxoil hotel
16,Altay,CN,47.87,88.12,56.55,27,52,1.21,Sunshine Hotel
17,Springbok,ZA,-29.66,17.89,60.93,22,68,4.34,Springbok Inn by Country Hotels
18,Siderno,IT,38.28,16.30,63.00,71,53,1.01,Grand Hotel President
19,Eureka,US,40.80,-124.16,51.01,90,80,1.03,Best Western Plus Bayshore Inn
20,Bashtanka,UA,47.41,32.44,50.31,46,79,2.93,Готель
21,Caconda,AO,-13.73,15.07,59.14,61,75,3.96,
22,Onda,ES,39.97,-0.25,59.32,100,75,1.12,Motel Shhh
23,Paraíso,CR,9.84,-83.87,64.99,65,96,1.70,Paraiso Orocay Lodge
24,Cajati,BR,-24.74,-48.12,61.43,91,51,2.17,Hotel Cortesia
25,Springdale,US,36.19,-94.13,55.13,54,90,3.36,
26,Asopós,GR,36.73,22.87,62.60,77,65,0.16,Princess Kyniska Suites
27,Aras,ES,42.56,-2.36,52.27,100,90,2.24,HOTEL PALACIO PUJADAS
28,Khani,GE,41.96,42.96,55.40,87,58,1.12,Nino village
29,Qom,IR,34.64,50.88,68.56,30,99,1.95,
30,La Rioja,ES,42.25,-2.50,53.60,100,90,2.24,Molino del Corregidor
31,Vicuña,CL,-30.03,-70.71,51.08,100,90,3.36,Rucka-Inn Cottages & Domes
32,Sāveh,IR,35.02,50.36,67.82,29,81,4.65,Sadra Hotel And Restaurant

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in cleaned_hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [10]:

# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(
    locations,
    info_box_content=hotel_info)

fig = gmaps.figure()

fig.add_layer(hotel_layer)
fig.add_layer(heat_layer)
    
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))